{% load static %}
<header class="p-3 mb-3 border-bottom" style="color: white; background-color: #0055CB">
    <div class="container">
      <div class="d-flex align-items-center justify-content-lg-start">
          <div class="phbtn col-2">
              СУП РОС
          </div>
            <ul class="nav col-6 justify-content-center mb-md-0">
{#              <li><a href="{% url 'home' %}" class="nav-link px-2" style="color: white">Таблицы</a></li>#}
            </ul>
                <div class="d-flex justify-content-end col-4">
                    <div class="d-flex gap-3 align-items-center link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'main_app/icons/ava.jpg' %}" alt="mdo" width="42" height="42px" class="rounded-circle">
                        <h6 style="color: white">{{ user.employee.first_name }} {{ user.employee.last_name }}</h6>
                        <h6 style="color: white">{{ user.role.name }}</h6>
                    </div>
                    <a href="{% url 'logout' %}" class="btn btn-danger ms-2">Выйти</a>
                </div>
      </div>
    </div>
  </header>
